.App {
  text-align: center;
  padding: 20px;
  background-color: #f8f9fa;
  min-height: 100vh;
  background: #990011;
}

input {
  margin: 20px;
  padding: 10px;
  font-size: 16px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  
}

input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.beer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.beer-list-title {
  color: white;
  margin: 20px 0;
}